# .gitignore
 
# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/Bakery/
/Assets/BakeryLightmaps/
/Assets/AssetStoreTools*
sysinfo.txt
*.pidb.meta
!/Library/LastSceneManagerSetup.txt
 
# VS/Rider/MD/Consulo
ExportedObj/
.consulo/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
 
# Builds
*.apk
*.unitypackage
*.app
*.exe

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.orig

Assets/Scenes/Demo\.unity\.orig\.meta

\.vs/

Assets/SimpleSpectrum/Misc/Thumbs\.db\.meta

Assets/Scenes/Intro\.unity\.orig\.meta
